:root {
    --color-main: #503e64;
    --light-shade: #e8e7dc;
    --light-accent: #9095ad;
    --dark-accent: #637ca3;
    --dark-shade: #25242c;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

/* Nav bar formatting */

#navbar {
    display: flex;
    position: fixed;
    gap: 20px;
    top: 0;
    padding: 20px;
    width: 100%;
    background-color: var(--dark-shade);
}

.nav-link:first-of-type {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: var(--light-shade);
    font-size: 20px;
}

/* Welcome section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-main);
    color: var(--light-shade);
}

#welcome-title {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

#welcome-caption {
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}

/* Projects section */

#projects {
    background-color: var(--dark-accent);
    width: 100%;
    padding: 100px;
    display: flex;
    gap: 50px;
    flex-flow: column nowrap;
    align-items: space-around;
    justify-content: center;
}

#projects-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

#projects-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-tile {
    display: flex;
    flex-flow: column;
    max-width: 300px;
    min-width: 200px;
    max-height: 400px;
    text-align: center;
    background-color: var(--dark-shade);
    color: var(--light-shade);
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    
}

.project-image {
    width: 500px;
    height: 400px;

}
